.chatSection {
    flex-grow: 1;
    height: 100hv;
}

.chatHeader {
    height: 60px;
    background-color: var(--main-br-col);
}

.chatField {
    height: calc(100vh - 110px);
    padding: 15px 0;
    background-image: url('../../images/chat-wallpaper.webp');
    background-size: cover;
    overflow-y: auto;
    
}

